/*Uploading the fonts*/

@font-face {
    font-family: 'Helvetica Neue LT Std 57 Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 57 Condensed'), url('HelveticaNeueLTStd-Cn.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 77 Bold Condensed'), url('HelveticaNeueLTStd-BdCn.woff') format('woff');
}

/*Styling the body*/

header {
    background-color: #59CBE8;
    font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
    color: white;
}

main {
    background-color: white;
    font-family: 'Helvetica Neue LT Std 57 Condensed';
}

div.career:hover {
    transform: scale(1.5, 1.5);
}


footer {
    background-color: white;
}


/*Styling website for mobile devices*/

@media all and (max-width:720px) {

    /*    Styling log in page*/


    body.home_mobile {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "headerHome"
            "main"
            "footer";
        text-align: center;
        margin: 0;
    }

    #header_home {
        text-align: center;
        font-size: 30px;
        grid-area: headerHome;
    }

    #lgn {
        text-align: center;
        font-size: 30px;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        color: #59CBE8;
    }

    form#loginForm {
        display: inline-block;
        margin-top: -5%;
    }

    input.loginInput {
        display: block;
        margin-bottom: 0.7em;
        margin-top: 0.7em;
        text-align: left;
        border: 1px solid #59CBE8;
        border-radius: 18px;
        width: 120%;
        height: 6vh;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        font-size: 18px;
        padding-left: 10px;
    }

    #sbmtLogin {
        display: inline-block;
        width: 70px;
        height: 70px;
        background: #59CBE8;
        text-align: center;
        padding-right: 6%;
        color: white;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 30px;
        border: none;
        border-radius: 100%;
    }

    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 7%;
        margin-right: 7%;
        border-style: solid;
        border-radius: 50px;
        border-width: 3px;
        color: #EA4D44;
    }

    #loginLinkedIn {
        text-align: center;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 30px;
        color: #59CBE8;
        text-decoration: none;
    }

    a.log {
        text-decoration: none;
    }

    #LinkedInLogo {
        max-width: 50%;
        margin-top: -3%;
        text-decoration: none;
    }

    #KEA_without {
        max-width: 30%;
        margin-top: 5%;
        margin-bottom: 2%;
        text-decoration: none;
    }

    #KEA {
        display: none;
    }

    /*    Styling menu page*/

    body.menu_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "headerMenu headerMenu"
            "course schedule"
            "it career"
            "notifications contact";
        grid-template-rows: 10vh;
        text-align: center;
        margin: 0;
        overflow-x: hidden;
    }

    #header_menu {
        text-align: left;
        height: auto;
        font-size: 25%;
        padding-left: 5%;
        color: white;
        margin-top: -3vh;
        grid-area: headerMenu;
    }

    a#fronter {
        color: white;
    }

    #course,
    #schedule,
    #it,
    #career,
    #notifications,
    #contact {
        width: 68%;
        height: auto;
        object-fit: contain;
        padding-top: 5%;
        padding-bottom: 5%;

    }

    div.course {
        grid-area: course;
    }

    div.schedule {
        grid-area: schedule;
    }

    div.it {
        grid-area: it;
    }

    div.career {
        grid-area: career;
    }

    div.notifications {
        grid-area: notifications;
    }

    div.contact {
        grid-area: contact;
    }

    /*    Styling KEA Career page*/

    body.keaCareer_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "headerMenu headerMenu"
            "platform platform"
            "community community"
            "tips tips";
        grid-template-rows: 10vh;
        text-align: center;
        margin: 0;
        overflow-x: hidden;
    }

    #header_menu {
        text-align: left;
        height: auto;
        padding-left: 5%;
        color: white;
        margin-top: -3vh;
        grid-area: headerMenu;
    }

    a#fronter {
        color: white;
        font-size: 25%;
        display: inline-block;
    }

    a#keaCareers {
        color: white;
        font-size: 15%;
        display: inline-block;
        margin-left: 5px;
    }

    div.platform {
        grid-area: platform;
    }

    div.community {
        grid-area: community;
    }

    div.tips {
        grid-area: tips;
    }

    #platform,
    #community,
    #tips {
        padding-top: 3%;
    }

    .platform_web,
    .community_web,
    .tips_web {
        display: none;
    }

    /*    Styling Job Platform page*/

    body.jobPlatform_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "headerMenu headerMenu headerMenu headerMenu"
            "find find find find"
            "container1 container1 container1 container1"
            "container2 container2 container2 container2"
            "container3 container3 container3 container3"
            "container4 container4 container4 container4"
            "container5 container5 container5 container5"
            "container6 container6 container6 container6"
            "container7 container7 container7 container7";
        grid-template-rows: 10vh;
        margin: 0;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        overflow-x: hidden;

    }

    #header_menu {
        text-align: left;
        height: auto;
        padding-left: 5%;
        color: white;
        margin-top: -3vh;
        grid-area: headerMenu;
        width: 100vw;
    }

    a#fronter {
        color: white;
        font-size: 25px;
        display: inline-block;
    }

    a#keaCareers {
        color: white;
        font-size: 15px;
        display: inline-block;
        margin-left: 5px;
    }

    a#jobPlatform {
        color: white;
        font-size: 15px;
        display: inline-block;
    }

    div.find_search {
        grid-area: find;
        width: 98vw;
        margin: 2vw;
    }

    input#filters {
        background-color: transparent;
        text-align: left;
        border: 1px solid #59CBE8;
        border-radius: 18px;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        font-size: 18px;
        width: 40vw;
        height: 5.5vh;
        margin-left: 1vw;
    }

    input#search_jobs {
        background-image: url(Images/magnifyinGlass.png);
        background-position: 5px;
        background-size: 30px;
        background-repeat: no-repeat;
        padding-left: 10%;
        text-align: left;
        border: 1px solid #59CBE8;
        border-radius: 18px;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        font-size: 18px;
        width: 33vw;
        height: 5vh;
        margin-left: 9vw;
    }

    div#container1 {
        grid-area: container1;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-top: 1px solid #59CBE8;
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div.fbLogo {
        grid-area: fb;
    }

    img.company {
        width: 120px;
        padding: 3vw;
    }

    div.job_Position {
        grid-area: it;
    }

    h4.jobPosition {
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
    }

    div.description1 {
        grid-area: more;
        padding: 1vw;
    }

    .sbmtMore {
        width: 100px;
        height: 70px;
        background: #59CBE8;
        text-align: center;
        color: white;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 30px;
        border: none;
        border-radius: 15px;
    }

    div#container2 {
        grid-area: container2;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container3 {
        grid-area: container3;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container4 {
        grid-area: container4;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container5 {
        grid-area: container5;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container6 {
        grid-area: container6;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container7 {
        grid-area: container7;
        padding-left: 42vw;
        width: 100%;
    }

    img#arrowMore {
        width: 10%;
        padding: 2vw;
    }

    /*    Styling ARLA: Graphic Designer page*/

    body.arla_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "headerMenu headerMenu headerMenu headerMenu"
            "arla descr descr descr"
            "description description description description"
            "requirements requirements requirements requirements"
            "share share apply apply"
            "facebook mail apply apply"
        ;
        grid-template-rows: 10vh;
        margin: 0;
        overflow-x: hidden;
    }

    a#arla {
        color: white;
        font-size: 13px;
        display: inline-block;
        margin-left: 5px;
    }

    img.arlaLogo {
        grid-area: arla;
        width: 30vw;
        padding: 7%;
    }

    div.descr {
        grid-area: descr;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        margin-right: 5vw;
        margin-left: 2vw;
    }

    h2.graphic {
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
    }

    div.description {
        grid-area: description;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        margin-left: 5vw;
        margin-right: 5vw;
    }

    h3.info {
        text-decoration: underline;
        text-align: center;
    }

    div.requirements {
        grid-area: requirements;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        margin-left: 5vw;
        margin-right: 5vw;
    }

    h3.info2 {
        text-decoration: underline;
        text-align: center;
    }

    div.share {
        grid-area: share;
        margin-left: 5vw;
        margin-bottom: -3vw;
    }

    h3.shareN {
        font-size: 5vw;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        color: #59CBE8;
    }

    div.facebookImage {
        grid-area: facebook;
        margin-left: 5vw;
        margin-bottom: 5vw;
    }

    img#facebookLog {
        width: 8vw;
    }

    img#mailLog {
        width: 11.8vw;
    }

    div.applyButton {
        grid-area: apply;
        padding-left: 12vw;
        padding-top: 5vw;
    }

    input#apply {
        width: 100px;
        height: 70px;
        background: #59CBE8;
        text-align: center;
        color: white;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 30px;
        border: none;
        border-radius: 15px;
    }

}

/*Styling website for bigger devices*/

@media all and (min-width:720px) {

    /*    Styling log in page*/


    body.home_mobile {
        display: grid;
        grid-template-columns: 2.5fr 1.5fr;
        grid-template-areas:
            "headerHome main"
            "headerHome footer";
        text-align: center;
        margin: 0;
        height: 100vh;
    }

    #header_home {
        font-size: 500%;
        grid-area: headerHome;
        padding-top: 20vh;
        display: block;
    }

    #lgn {
        text-align: center;
        font-size: 300%;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        color: #59CBE8;
    }

    form#loginForm {
        display: inline-block;
        margin-top: -5%;
        margin-left: -5%;
    }

    input.loginInput {
        display: block;
        margin-bottom: 0.7em;
        margin-top: 0.7em;
        text-align: left;
        border: 1px solid #59CBE8;
        border-radius: 18px;
        width: 120%;
        height: 6vh;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        font-size: 18px;
        padding-left: 10px;
    }

    #sbmtLogin {
        display: inline-block;
        width: 70px;
        height: 70px;
        background: #59CBE8;
        text-align: center;
        padding-right: 6%;
        color: white;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 30px;
        border: none;
        border-radius: 100%;
        margin-left: 20%;
    }

    hr {
        display: block;
        margin-top: 14%;
        margin-bottom: 0.5em;
        margin-left: 7%;
        margin-right: 7%;
        border-style: solid;
        border-radius: 50px;
        border-width: 3px;
        color: #EA4D44;
    }

    #loginLinkedIn {
        text-align: center;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 30px;
        color: #59CBE8;
        text-decoration: none;
    }

    a.log {
        text-decoration: none;
    }

    #LinkedInLogo {
        max-width: 50%;
        text-decoration: none;
    }

    #KEA_without {
        display: none;
    }

    #KEA {
        max-width: 30%;
        text-decoration: none;
    }

    /*    Styling menu page*/

    body.menu_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "headerMenu headerMenu headerMenu"
            "course notifications contact"
            "schedule it career";
        grid-template-rows: 15vh;
        margin: 0;
    }

    #header_menu {
        color: white;
        grid-area: headerMenu;
        padding-left: 2vh;
    }

    a#fronter {
        color: white;
        display: block;
        float: left;
        margin-top: -3vh;
    }

    #course,
    #schedule,
    #it,
    #career,
    #notifications,
    #contact {
        width: 17vw;
        height: auto;
        padding-top: 2vw;
        margin-left: 8vw;
        margin-right: 8vw;

    }

    div.course {
        grid-area: course;
    }

    div.schedule {
        grid-area: schedule;
    }

    div.it {
        grid-area: it;
    }

    div.career {
        grid-area: career;
    }

    div.notifications {
        grid-area: notifications;
    }

    div.contact {
        grid-area: contact;
    }

    /*    Styling KEA Career page*/

    body.keaCareer_mobile {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "headerMenu"
            "platform"
            "community"
            "tips";
        grid-template-rows: 15vh;
        margin: 0;
    }

    #header_menu {
        color: white;
        grid-area: headerMenu;
    }

    a#fronter {
        color: white;
        font-size: 5vh;
        display: block;
        float: left;
    }

    a#keaCareers {
        color: white;
        font-size: 3vh;
        float: left;
        margin-top: 3vh;
        margin-left: 1vw;
    }

    div.platform_web {
        grid-area: platform;
        padding: 10px;
        margin-left: 19vw;
        margin-top: 2vh;
    }

    div.community_web {
        grid-area: community;
        padding: 10px;
        margin-left: 19vw;
    }

    div.tips_web {
        grid-area: tips;
        padding: 10px;
        margin-left: 19vw;

    }

    img#platform_web {
        width: 60vw;
    }

    img#community_web {
        width: 60vw;
    }

    img#tips_web {
        width: 60vw;
    }

    div.platform {
        display: none;
    }

    div.community {
        display: none;
    }

    div.tips {
        display: none;
    }

    /*    Styling Job Platform page*/

    body.jobPlatform_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "headerMenu headerMenu headerMenu headerMenu"
            "find find find find"
            "container1 container1 container1 container1"
            "container2 container2 container2 container2"
            "container3 container3 container3 container3"
            "container4 container4 container4 container4"
            "container5 container5 container5 container5"
            "container6 container6 container6 container6"
            "container7 container7 container7 container7";
        grid-template-rows: 15vh;
        margin: 0;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        overflow-x: hidden;
    }

    a#jobPlatform {
        color: white;
        font-size: 3vh;
        float: left;
        margin-top: 3vh;
        margin-left: 1vw;
    }

    div.find_search {
        grid-area: find;
        width: 98vw;
        margin: 2vw;
    }

    input#filters {
        background-color: transparent;
        text-align: left;
        border: 1px solid #59CBE8;
        border-radius: 18px;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        font-size: 18px;
        width: 40vw;
        height: 5.5vh;
        margin-left: 1vw;
    }

    input#search_jobs {
        background-image: url(Images/magnifyinGlass.png);
        background-position: 5px;
        background-size: 30px;
        background-repeat: no-repeat;
        padding-left: 10%;
        text-align: left;
        border: 1px solid #59CBE8;
        border-radius: 18px;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        font-size: 18px;
        width: 33vw;
        height: 5vh;
        margin-left: 9vw;
    }

    div#container1 {
        grid-area: container1;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-top: 1px solid #59CBE8;
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div.fbLogo {
        grid-area: fb;
    }

    img.company {
        width: 120px;
        margin-bottom: 5vw;
        margin-top: 2.5vw;
        margin-left: 5vw;
    }

    div.job_Position {
        grid-area: it;
        margin-bottom: 12vh;
        font-size: 3vh;
    }

    h4.jobPosition {
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 4vh;
    }

    div.description1 {
        grid-area: more;
        padding: 1vw;
    }

    .sbmtMore {
        width: 100px;
        height: 70px;
        background: #59CBE8;
        text-align: center;
        color: white;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 30px;
        border: none;
        border-radius: 15px;
    }

    div#container2 {
        grid-area: container2;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container3 {
        grid-area: container3;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container4 {
        grid-area: container4;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container5 {
        grid-area: container5;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container6 {
        grid-area: container6;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "fb it more";
        border-bottom: 1px solid #59CBE8;
        align-items: center;
        width: 100%;
        height: 25vh;
    }

    div#container7 {
        grid-area: container7;
        padding-left: 42vw;
        width: 100%;
    }

    img#arrowMore {
        width: 5%;
        padding: 2vw;
    }

    /*    Styling ARLA: Graphic Designer page*/

    body.arla_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "headerMenu headerMenu headerMenu headerMenu"
            "arla descr descr descr"
            "description description description description"
            "requirements requirements requirements requirements"
            "share share apply apply"
            "facebook mail apply apply";
        grid-template-rows: 15vh;
        margin: 0;
    }

    a#arla {
        color: white;
        font-size: 3vh;
        float: left;
        margin-top: 3vh;
        margin-left: 1vw;
    }

    img.arlaLogo {
        grid-area: arla;
        width: 15vw;
        padding: 7%;
        margin-left: 5vw;
    }

    div.descr {
        grid-area: descr;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        margin-right: 5vw;
        margin-left: 2vw;
        width: 30vw;
        font-size: 2vw;
    }

    h2.graphic {
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
    }

    div.description {
        grid-area: description;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        margin-right: 5vw;
        width: 30vw;
        font-size: 1.5vw;
        margin-left: 27vw;
        margin-top: 2vh;

    }

    h3.info {
        text-decoration: underline;
        text-align: center;
    }

    div.requirements {
        grid-area: requirements;
        font-family: 'Helvetica Neue LT Std 57 Condensed';
        margin-right: 5vw;
        margin-left: 27vw;
        width: 30vw;
        font-size: 1.5vw;
        margin-top: 2vh;
    }

    h3.info2 {
        text-decoration: underline;
        text-align: center;
    }

    div.share {
        grid-area: share;
        margin-left: 5vw;
    }

    h3.shareN {
        font-size: 2vw;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        color: #59CBE8;
    }

    div.facebookImage {
        grid-area: facebook;
        margin-left: 5vw;
        margin-bottom: 5vw;
    }

    img#facebookLog {
        width: 3.5vw;
    }

    img#mailLog {
        width: 5vw;
    }

    div.applyButton {
        grid-area: apply;
        padding-left: 12vw;
        padding-top: 6vw;
        margin-left: 20vw;
    }

    input#apply {
        width: 100px;
        height: 70px;
        background: #59CBE8;
        text-align: center;
        color: white;
        font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
        font-size: 30px;
        border: none;
        border-radius: 15px;
    }

}
